<button class="button" [routerLink]="['']">
    <i class="fa fa-arrow-left"></i> Go back to list
</button>

<ul>
    <li *ngFor="let product of cartList" class="cart-card">
        <div class="cart-item">
            <div class="image-container">
                <img #productImage [src]="product.img" alt="{{ product.name }}"
                    (error)="productImage.style.display='none'; placeholder.style.display='flex'">
                <i #placeholder class="fa fa-image image-placeholder"></i>
            </div>
            <p class="product-name">{{ product.name | titlecase }}</p>
            <div>
                <p class="max-error" [class.visible]="maxAmountMessageId === product.uid!">
                    *The maximum available amount: {{ product.amountInCart + product.availableAmount }}.
                </p>
            </div>
            <div>
                <div class="quantity-controls">
                    <button class="button" (click)="decreaseAmount(product)">
                        <i class="fa fa-minus"></i>
                    </button>
                    <input type="number" [value]="product.amountInCart"
                        (keydown.enter)="updateInCartAmount(product, $event)"
                        (blur)="updateInCartAmount(product, $event)" [min]="0"
                        [max]="product.availableAmount + product.amountInCart">
                    <button class="button" (click)="increaseAmount(product)">
                        <i class="fa fa-plus"></i>
                    </button>
                    <button class="trash-button"
                        style="display:flex; align-items:center; justify-content:center; margin:0;"
                        (click)="removeFromCart(product)">
                        <i class="fa fa-trash"></i>
                    </button>
                </div>
            </div>
            <p class="product-total" style="margin:0; display:flex; align-items:center; justify-content:center;">
                {{ product.price * product.amountInCart | number:'1.2-2' }} €
            </p>
        </div>
    </li>
    <div class="total-card" *ngIf="cartList.length > 0">
        <div class="cart-item">
            <h2 class="total-label" style="margin:0; display:flex; align-items:center;">Total:</h2>
            <p class="product-total" style="margin:0; display:flex; align-items:center; justify-content:center;">
                {{ cartTotal | number:'1.2-2' }} €
            </p>
            <div class="empty-trash-placeholder"></div>
        </div>
    </div>
</ul>

<p class="empty-cart-message" *ngIf="cartList.length == 0">
    Your cart is empty
</p>