img {
    max-width: 150px;
    max-height: 100px;
    width: auto;
    height: auto;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding: 5px;
}

.card {
    width: 200;
    height: 250px;
    background-color: #fff;
    background: linear-gradient(#f8f8f8, #fff);
    /* box-shadow: 0 8px 16px -8px rgba(0, 0, 0, 0.4); */
    /* border-radius: 6px; */
    overflow: hidden;
    position: relative;
    margin: 1.5rem;
    padding: 5px;
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}