<button class="button" [routerLink]="['/cart']">
    Go to Cart <i class="fas fa-cart-shopping"></i>
</button>

<div class="card-container" *ngIf="products$ | async as productList">
    <div *ngFor="let product of productList; trackBy: trackByUid">
        <div class="card">
            <div>
                <div class="image-container">
                    <img #productImage [src]="product.img" alt="{{ product.name }}"
                        (error)="productImage.style.display='none'; icon.style.display='flex'">
                    <i #icon class="fas fa-ban image-placeholder" style="display:none;"></i>
                </div>
                <p>{{ product.name | titlecase }}</p>
                <p>{{ product.price }} €</p>
            </div>

            <span>
                <button class="button" (click)="decreaseAmount(product)">-</button>
                <input type="number" [value]="product.amountInCart"
                    (keydown.enter)="updateInCartAmount(product, $event)" (blur)="updateInCartAmount(product, $event)"
                    [min]="0" [max]="product.availableAmount + product.amountInCart">
                <button class="button" (mouseenter)="tryShowMinOrderMessage(product)" (mouseleave)="hideMinOrderMessage()"
                    (click)="increaseAmount(product)">+</button>
                <button class="trash-button" [disabled]="product.amountInCart === 0" (click)="removeFromCart(product)">
                    <i class="fas fa-trash"></i>
                </button>
            </span>

            <p class="min-order-error" [class.visible]="minOrderMessageId === product.uid!">
                *The minimum amount to order: {{ product.minOrderAmount }}.
            </p>
            <p class="max-error" [class.visible]="maxAmountMessageId === product.uid!">
                *The maximum available amount: {{ product.amountInCart + product.availableAmount }}.
            </p>
        </div>
    </div>
</div>