<button class="button" [routerLink]="['/cart']">Go to Cart <i class="fas fa-cart-shopping"></i></button>

<div class="card-container">
    <div *ngFor="let product of productList; index as i">
        <div class="card">
            <div>
                <img src={{product.img}}>
                <p>{{ product.name }}</p>
                <p>{{ product.price }} €</p>
            </div>
            <span>
                <button class="button" (click)="decreaseAmount(product)">-</button>
                <input type="number" [value]="product.amountInCart" (change)="updateInCartAmount(product, $event)"
                    [min]="0" [max]="product.availableAmount + product.amountInCart">
                <button class="button" (click)="increaseAmount(product)">+</button>
                <button class="trash-button" [disabled]="product.amountInCart == 0" (click)="removeFromCart(product)"><i
                        class="fas fa-trash"></i></button>
            </span>
        </div>
    </div>
</div>