<div class="card-container">
    <div *ngFor="let product of productList; index as i">
        <div class="card" id={{product.id}}>
            <img src={{product.img}}>
            <p>{{ product.name }}</p>
            <p>{{ product.price }}</p>
            <span>
                <button (click)="decreaseAmount(product)">-</button>
                <input type="number" [(ngModel)]="product.amountInCart"
                    (change)="updateInCartAmount(product, $event)" [min]="0" [max]="product.availableAmount + product.amountInCart">
                <button (click)="increaseAmount(product)">+</button>
                <button [disabled]="product.amountInCart == 0" (click)="removeFromCart(product)">X</button>
            </span>
        </div>
    </div>
</div>